.nav{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 0.5rem -0.2rem black;
    width: 100vw;
}

.left {
    margin: 10px 0;
}

.right{
    margin: 10px 0;
}

.navList{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.icon{
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

.brandlogo{
    padding: 5px;
    background-color: red;
    border-radius: 50%;
    margin-left: 15px;
}

.navItem{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 10px;
    color: black;
    font-weight: 600;
}

.active{
    color: blue;
}

.navTitle{
    display: none;
}

@media screen and (min-width: 500px) {
    .navTitle {
        display: inline;
    }

    .nav{
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 800px) {
    .navItem {
        margin: 10px 30px;
    }

    
}